body{
    background: url(img/2person.png); 
    margin:0;
    padding:0;
    text-align:left;
    font-size: 15px;
    background-repeat:repeat-y;
    background-position:right top; 
    background-size:600px 400px;
    
}
header{
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    text-align: center;
}
main{
    border-bottom:1px solid #ccc;
    position:relative;
}
.main_title{
font-size: 25px;;
text-align: center;
}

ul{
    padding: 0;
    border-top: 1px solid #000000;
    display:table;  /* 定義 */
    table-layout: fixed;
    width:20%;
    text-align: center;
    
}
li{
    list-style-type:none;
    border: 1px solid #666;
    background-color: #FFF;
    display:table-cell;  /* 定義 */
    cursor: pointer;
}
li:hover{
    background: #0066CC;
    color:#fff;
}
/* #input{
    width: 140px;
    margin-left: 10px;
}
#textarea{
    width: 140px;
    height: 100px;


} */
/* input,textarea{
    margin: 3%;
    width: 20%;
    font-size:40%;
    box-shadow: 3px 3px 3px 3px #555;
}
/* p{
    font-size:200%;
    text-align: center;
    border-bottom:1px solid #fff;
    height:200px;
    background-color: skyblue;
} */

/* footer{
    background-color: #fff;
    border-bottom:1px solid #ccc;
    text-align: center;
} */